<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Hello, {{ username }}!</h2>
        <form action="/prediction" method="post">
            <p>Enter value for prediction:</p>
            <input type="number" name="q" step="any" required>
            <input type="hidden" name="username" value="{{ username }}">
            <input type="submit" value="Predict">
        </form>
    </div>
</body>
